<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BillerInvoicesWebServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BillerInvoicesWebServiceBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://efaktura.bg/soap/BillerInvoices.php"
                binding="basicHttpBinding" bindingConfiguration="BillerInvoicesWebServiceBinding"
                contract="BillerInvoice.BillerInvoicesWebServicePort" name="BillerInvoicesWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>